# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/

# FAISS index and uploaded papers
data/index/
data/papers/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db